coc/extensions/
coc/history.json
coc/memos.json
coc/mru
coc/lists
coc/snippets-mru
coc/commands
configstore/
go/
nvim/plugged/
yarn/

fish/
ranger/history
ranger/bookmarks
ranger/tagged

cheat/
chrome_infra/

# rust
evcxr/
dlv

#asciinema.org
asciinema
env/.git-credentials
